.container {
  display: flex;
  margin-top: 10vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
}

.blockquote {
  font-size: medium;
  text-shadow: none;
  color: white;
  text-align: center;
}
.blockquote-footer {
  font-size: medium;
  text-shadow: none;
  text-align: center;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px rgb(87, 194, 123);
}
a:link {
  color: rgb(255, 187, 0);
  text-decoration: none;
}
a:visited {
  color: rgb(255, 187, 0);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 187, 0);
  font-style: oblique;
  text-decoration: none;
}
body {
  background-color: black;
}
nav {
  background-color: black;
}
.lead {
  color: whitesmoke;
}
.col {
  align-items: flex-end;
}
.row {
  align-items: flex-end;
}
