#container{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
font-size: medium;
height: 100vh;
width: 100vw;
margin: 0;
padding: 0;
}
#header{
background-color: rgb(27, 211, 103);
font-size: xx-large;
height: 10vh;
width: 100vw;
}
#navigation{
background-color: rgb(208, 245, 184);
}
#body{
background-color: rgb(178, 243, 176);
height: 80vh;
width: 90vw;
margin-left: 10vw;
color: black;
}
#panel1{
background-color: rgb(178, 243, 176);
float: left;
width: 10vw;
height: 80vh;
}
#footer{
background-color: rgb(78, 189, 143);
height: 10vh;
width: 100vw;
}
#button{
    background-color: rgb(6, 77, 17);
    color: white;
    border-radius: 0px 13px 13px 0px;
    width: 10vw;
    font-style: oblique;
}